<script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->
<link rel="Bookmark" href="${ctx}/img/favorite.png" > 
<link rel="Shortcut Icon" href="${ctx}/img/favorite.png" />
<link rel="stylesheet" href="${ctx}/css/reset.css">
<link rel="stylesheet" href="${ctx}/css/font-awesome.min.css">
<link rel="stylesheet" href="${ctx}/css/general.css">
<link rel="stylesheet" href="${ctx}/css/layout.css">
<link rel="stylesheet" href="${ctx}/css/core.css">
<link rel="stylesheet" href="${ctx}/css/components.css">
<link rel="stylesheet" href="${ctx}/js/kkpager/kkpager_blue.css">
<link rel="stylesheet" href="${ctx}/js/jbox/jbox.css" type="text/css"></link>

<!--[if lt IE 9]>
<script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->

<script type="text/javascript" src="${ctx}/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="${ctx}/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="${ctx}/js/validate/additional-methods.min.js"></script>
<script type="text/javascript" src="${ctx}/js/validate/messages_zh.js"></script>

<script type="text/javascript" src="${ctx}/js/kkpager/kkpager.min.js"></script>
<script type="text/javascript" src="${ctx}/js/modal/bootstrap-modal.js"></script>
<script type="text/javascript" src="${ctx}/js/modal/bootstrap-modalmanager.js"></script>
<script type="text/javascript" src="${ctx}/js/jbox/jquery.jBox-2.3.min.js"></script>
<script type="text/javascript" src="${ctx}/js/jbox/jquery.jbox-zh-cn.js"></script>
<!--  
<script type="text/javascript" src="${ctx}/js/app.js"></script>
-->
<script>
      var rootPath ="${ctx}";

      var sizeSmall="${sizeSmall}";
      var sizeMiddle="${sizeMiddle}";
      var sizeBig="${sizeBig}";
      
</script>