<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>查看商户配置页-中国联通研究院大数据应用模型孵化平台</title>
    <meta name="keywords" content="关键词,5个左右,单个8汉字以内">
    <meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
    <link rel="Bookmark" href="img/favorite.png" >
    <link rel="Shortcut Icon" href="img/favorite.png" />
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="${ctx}/css/reset.css">
    <link rel="stylesheet" href="${ctx}/css/font-awesome.min.css">
    <link rel="stylesheet" href="${ctx}/css/general.css">
    <link rel="stylesheet" href="${ctx}/css/layout.css">
    <link rel="stylesheet" href="${ctx}/css/core.css">
    <link rel="stylesheet" href="${ctx}/css/components.css">
    <link rel="stylesheet" href="${ctx}/js/kkpager/kkpager_blue.css">
    <script type="text/javascript" src="${ctx}/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="${ctx}/js/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="${ctx}/js/validate/additional-methods.min.js"></script>
    <script type="text/javascript" src="${ctx}/js/validate/messages_zh.js"></script>
    <script type="text/javascript" src="${ctx}/js/kkpager/kkpager.min.js"></script>
    <script type="text/javascript" src="${ctx}/js/modal/bootstrap-modal.js"></script>
    <script type="text/javascript" src="${ctx}/js/modal/bootstrap-modalmanager.js"></script>

    <!--[if IE 6]>
    <script type="text/javascript" src="${ctx}/Lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('.pngfix,.icon');</script>
    <![endif]-->
</head>
<script type="text/javascript">
    var rootPath ="${ctx}";
    var pageSize="0";
    var pageMaxSize="${pageMaxSize?if_exists}";
    $(function () {
        $("#menu2").parent(".info").show();
        $("#menu2").addClass("active").siblings().removeClass("active");
        getBussTenant();
        getPermisionDetail();
    });

    function  getBussTenant(type) {
        if(parseInt(pageSize)<=parseInt(0)){
            $("#prev").attr("style","display:none");
        }else {
            $("#prev").removeAttr("style");
        }
        if(parseInt(pageSize)>=parseInt(pageMaxSize)){
            $("#next").attr("style","display:none");
        }else {
            $("#next").removeAttr("style");
        }
        if(parseInt(pageMaxSize)<=parseInt(5)){
            $("#next").attr("style","display:none");
        }else {
            $("#next").removeAttr("style");
        }
        if(type=="0"){//下一页
            pageSize=parseInt(pageSize)+parseInt(5);
            if(parseInt(pageSize)<=parseInt(0)){
                $("#prev").attr("style","display:none");
            }else {
                $("#prev").removeAttr("style");
            }
            var  temp=parseInt(pageSize)+parseInt(5);
            if(parseInt(temp)>=parseInt(pageMaxSize)){
                $("#next").attr("style","display:none");
            }else {
                $("#next").removeAttr("style");
            }
        }else if (type=="1"){//上一页
            pageSize=parseInt(pageSize)-parseInt(5);
            if(parseInt(pageSize)<=parseInt(0)){
                $("#prev").attr("style","display:none");
            }else {
                $("#prev").removeAttr("style");
            }
            if(parseInt(pageSize)>=parseInt(pageMaxSize)){
                $("#next").attr("style","display:none");
            }else {
                $("#next").removeAttr("style");
            }
        }
        $.ajax({
            url : rootPath+"/author/userSetting/getBussTenant",
            type : "post",
            data : {pageSize :pageSize},
            dataType : "json",
            success:function(result) {
                var roleMes=result.bussTenant;
                var  html="";
                $("#roleList").html("");
                for (var i=0;i<roleMes.length;i++){
                    var tenant_id=roleMes[i].tenantId;
                    var auditStatus=roleMes[i].auditStatus;
                    html +="<tr>";
                    html +="<td>"+roleMes[i].tenantId+"</td>";
                    html +="<td>"+roleMes[i].tenantName+"</td>";
                    html +="<td>"+roleMes[i].mobile+"</td>";
                    html +="<td>"+roleMes[i].email+"</td>";
                    var  busstenMes=result.tenantRole;
                    var  temp="";
                    for(var j=0 ;j<busstenMes.length;j++){
                        if (busstenMes[j].tenantId==roleMes[i].tenantId){
                            if(busstenMes[j].roleId=="1"){
                                temp = temp +"，数据加工角色";
                            }else if (busstenMes[j].roleId=="2"){
                                temp = temp +"，数据建模角色";
                            }else if (busstenMes[j].roleId=="3"){
                                temp = temp +"，数据审核角色";
                            }
                        }
                    }
                    if(temp.substr(0,1)=="," || temp.substr(0,1)=="，" ){
                        temp=temp.substr(1);
                    }
                    html += "<td>"+temp+"</td>";
                    if(auditStatus=="0"){
                        html += '<td>'
                                +'<a class="c-999" title="修改" data-toggle="modal" onclick="setTenantId(\''+tenant_id+'\',\'1\',\''+auditStatus+'\')" ><i class="fa fa-edit"></i></a>'
                                +' <a class="c-999 ml-15" title="删除" data-toggle="modal" onclick="setTenantId(\''+tenant_id+'\',\'0\',\''+auditStatus+'\')" ><i class="fa fa-trash"></i></a>'
                                +'</td>';
                    }else{
                        html += '<td>'
                                +'<a class="c-999" title="修改" data-toggle="modal" onclick="setTenantId(\''+tenant_id+'\',\'1\',\''+auditStatus+'\')" href="#modal-upowerEdit"><i class="fa fa-edit"></i></a>'
                                +' <a class="c-999 ml-15" title="删除" data-toggle="modal" onclick="setTenantId(\''+tenant_id+'\',\'0\',\''+auditStatus+'\')" href="#modal-upowerDelete"><i class="fa fa-trash"></i></a>'
                                +'</td>';
                    }
                    html +="</tr>";

                }
                $("#roleList").append(html);
            },
            error:function() {
                alert("查询失败！");
                return false;
            }
        });
    }
    
    function  getPermisionDetail() {
        $.ajax({
            url : rootPath+"/author/userSetting/getPemissionDetail",
            type : 'post',
            dataType : 'json',
            success : function (data) {
                var list=data.dictList;
                var parnetHtml="";
                $("#parnet_menu").html("");
                var flag=true;
                var flag1=true;
                for(var i=0;i<list.length;i++){
                    if(list[i].parentCode =="-1" && list[i].childFlag=="true"){
                        if(flag){
                            parnetHtml +='<li class="selected cur" onclick="changeBox(\''+list[i].code+'\')" id=\'par_'+list[i].code+'\'>'+list[i].name+'<b></b></li>';
                            flag=false;
                        }else{
                            parnetHtml +='<li  class="selected" id=\'par_'+list[i].code+'\' onclick="changeBox(\''+list[i].code+'\')">'+list[i].name+'<b></b></li>';
                        }
                    }

                    if(list[i].childFlag=="true"){
                        var childList=list[i].childList;
                        var childHtml="";
                        //$("#chileBox").html("");
                        if (flag1){
                            childHtml +="<div id=chil_"+list[i].code+" class='box open-box' style='display:block;'>";
                            flag1=false;
                        }else{
                            childHtml +="<div id=chil_"+list[i].code+" class='box'>";
                        }
                        for (var chi =0;chi<childList.length;chi++){
                            childHtml +="<span class='btn' data-value="+childList[chi].code+">"+childList[chi].name+"<b></b></span>";
                        }
                        childHtml +="</div>";
                        $("#chileBox").append(childHtml);
                    }

                }
                $("#parnet_menu").html(parnetHtml);
            },
            error : function () {
                return false;
            }
        });
    }
    function setTenantId(id,type,auditStatus) {
        if(auditStatus=="0" && type=="1"){
            alert("该操作员处于待审核状态，暂时不能修改！");
        }else if(auditStatus=="0" && type=="0"){
            alert("该操作员处于待审核状态，暂时不能删除！");
        }else {
            $("#tenantId").val(id);
            if(type=="1"){//修改
                $.ajax({
                    url : rootPath+"/author/userSetting/getRoleMessage?tenantId="+id,
                    type : 'post',
                    dataType : 'json',
                    success : function (data) {
                        var  roleMessage=data.roleMessage;
                        for (var i=0;i<roleMessage.length;i++){
                            if (roleMessage[i].tenantId==id){
                                $("#editName").val(roleMessage[i].tenantName);//姓名
                                $("#editPhone").val(roleMessage[i].mobile);//电话
                                $("#editIdCard").val(roleMessage[i].idCard);//身份证号码
                                $("#editEmail").val(roleMessage[i].email);//邮箱
                            }
                        }
                        $("#role1").removeClass("active");
                        $("#role2").removeClass("active");
                        $("#role3").removeClass("active");
                        $("#checkRole1").removeAttr("checked");
                        $("#checkRole2").removeAttr("checked");
                        $("#checkRole3").removeAttr("checked");
                        var tenantMessage=data.tenantMessage;
                        for (var j=0;j<tenantMessage.length;j++){
                            if(tenantMessage[j].tenantId==id){
                                if (tenantMessage[j].roleId=="1"){
                                    $("#role1").addClass("active");
                                    $("#checkRole1").prop("checked","checked");
                                }else  if (tenantMessage[j].roleId=="2"){
                                    $("#role2").addClass("active");
                                    $("#checkRole2").prop("checked","checked");
                                }else  if(tenantMessage[j].roleId=="3"){
                                    $("#role3").addClass("active");
                                    $("#checkRole3").prop("checked","checked");
                                }
                            }
                        }
                    },
                    error : function () {
                        alert("查询失败");
                        return false;
                    }
                });
            }
        }
    }
    
    function deleteRole() {
        var tenantId=$("#tenantId").val();
        var roleIds=$("#roleIds").val();
        $.ajax({
            url :  rootPath+"/author/bussTenant/deleteByTenantId?tenantId="+tenantId+"&operType=3",
            type : 'post',
            dataType : 'json',
            success : function (data) {
                if(data.success==true){
                    alert("删除成功！");
                    getBussTenant();
                }else {
                    alert("删除失败！");
                    return false;
                }
            },
            error : function () {
                alert("删除失败！");
                return false;
            }
        });
    }
    
    function editRoleMesage() {
        changeEditTip();
        var name=$("#editName").val();
        var mobile=$("#editPhone").val();
        var email=$("#editEmail").val();
        var idCard=$("#editIdCard").val();
        var tenantId=$("#tenantId").val();
        var roleIds=[];//权限
        $('input[name="editRoleId"]:checked').each(function(){
            roleIds.push($(this).val());
        });

        return;
        $.ajax({
            url :  rootPath+"/author/bussTenant/save?operType=2",
            data : {"tenantName" : name,
                "mobile" : mobile,
                "roleId" : roleIds.join(","),
                "idCard" : idCard,
                "email" : email,
                "bussId" : buss_id,
                "tenantId" : tenantId},
            type : 'post',
            dataType : 'json',
            success : function (data) {
                alert("修改成功！");
                $(".modal-scrollable,.modal-backdrop").hide();
                getBussTenant();
            },
            error : function () {
                alert("修改失败！");
                return false;
            }

        });
    }
    function changeVal(type) {
        if($("#role"+type).hasClass("active")){
            $("#role"+type).removeClass("active");
            $("#checkRole"+type).removeAttr("checked");
        }else{
            $("#role"+type).addClass("active");
            $("#checkRole"+type).prop("checked","checked");
        }
        changeEditTip();
    }

    function changeBox(pCode){
        $("#par_"+pCode).addClass("cur").siblings().removeClass("cur");
        $(".box").hide().removeClass("open-box");
        $("#chil_"+pCode).addClass("open-box").show();
    }
    function changeEditTip() {
        var name=$.trim($("#editName").val());
        var mobile=$.trim($("#editPhone").val());
        var email=$.trim($("#editEmail").val());
        var idCard=$.trim($("#editIdCard").val());
        var tenantId=$.trim($("#tenantId").val());
        if(null!=name || ""!=name){
            $("#nameEditTip").hide();
        }
        if (null!=idCard || ""!=idCard){
            $("#idCardEditTip").hide();
            $("#idCardEditTip2").hide();
        }
        if(null!=phoneNum ||　""!=phoneNum){
            $("#phoneEditTip").hide();
            $("#phoneEditTip2").hide();
        }

        if(null!=emial || ""!=emial){
            $("#emailEditTip").hide();
            $("#emailEditTip2").hide();
        }
        var roles=[];//权限
        $('input[name="editRoleId"]:checked').each(function(){
            roles.push($(this).val());
        });
        if(roles.length>0){
            $("#roleEditTip").hide();
        }
        if(null==name || ""==name){
            $("#nameEditTip").show();
            return false;
        }
        if (null==idCard || ""==idCard){
            $("#idCardEditTip").show();
            return false;
        }else{
            //15位数身份证正则表达式
            var arg1 = /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$/;
            //18位数身份证正则表达式
            var arg2 = /^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])((\d{4})|\d{3}[A-Z])$/;
            if (idCard.match(arg1) == null && idCard.match(arg2) == null){
                $("#idCardEditTip2").show();
                return false;
            }
        }
        if(null==phoneNum ||　""==phoneNum){
            $("#phoneEditTip").show();
            return false;
        }else{
            var phoneRegNoArea = /^[1][358][0-9]{9}$/;
            if (!phoneRegNoArea.test(phoneNum)) {
                $("#phoneEditTip2").show();
                return false;
            }
        }

        if(null==emial || ""==emial){
            $("#emailEditTip").show();
            return false
        }else{
            var szReg=/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
            if(!szReg.test(emial)){
                $("#emailEditTip2").show();
                return false;
            }
        }

        var roleIds=[];//权限
        $('input[name="editRoleId"]:checked').each(function(){
            roleIds.push($(this).val());
        });
        if(roleIds.length<1){
            $("#roleEditTip").show();
            return false;
        }
    }
</script>
<body>
<!------------------------HEADER---------------------------->
<#include "/views/common/header.html"/>

<!------------------------SIDEBAR-------------------------->
<#include "/views/common/aside.html"/>

<!-------------------------CONT---------------------------->
<input type="hidden" name="tenantId" id="tenantId">
<input type="hidden" name="roleIds" id="roleIds">
<article class="article-box">
    <div class="Detail-cont">
        <section class="panel panel-primary">
            <div class="panel-header"><h4>商户配置</h4></div>
            <div class="panel-seheader">
                <h5>IT资源配置</h5>
            </div>
            <div class="panel-body">
                    <p>CPU需求：${cpuType!""}</p>
                    <p>内存需求：${memorySize!""}</p>
                    <p>存储需求：${diskSize!""}</p>
                    <p>FTP空间需求：${ftpSize!""}</p>
            </div>
        </section>
        <section class="panel panel-secondary">
            <div class="panel-header"><h4>用户角色权限</h4></div>
            <div class="panel-body">
                <table class="table table-primary mt-10 mb-10">
                    <thead>
                    <tr>
                        <th>操作员ID</th>
                        <th>姓名</th>
                        <th>联系电话</th>
                        <th>EMAIL</th>
                        <th>角色权限</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="roleList"></tbody>

                </table>
                <div class="btn-wrap text-c">
                    <a id="prev" class="btn btn-link "   onclick="getBussTenant(1)">上一页</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a id="next" class="btn btn-link"    onclick="getBussTenant(0)">下一页</a>
                </div>
            </div>
        </section>
        <section class="panel panel-secondary">
            <div class="panel-header"><h4>数据权限</h4></div>
            <div class="panel-body">
                <div class="tags-box tags-detail-box">
                    <div class="tags-sidebar">
                        <ul id="parnet_menu">

                        </ul>
                    </div>
                    <div class="tags-cont" id="chileBox">
                    </div>
                </div>
            </div>
        </section>
        <section class="panel panel-secondary">
            <div class="panel-header"><h4>状态信息</h4></div>
            <div class="panel-body">
                <p>配置状态：
                    <#if bussList[0].configureStatus =="1">
                        未配置
                    </#if>
                    <#if bussList[0].configureStatus =="2">
                        待提交
                    </#if>
                    <#if bussList[0].configureStatus =="3">
                        审核通过
                    </#if>
                    <#if bussList[0].configureStatus =="4">
                        审核不通过
                    </#if>
                </p>
                <p>审核结果：
                    <#if bussList[0].bussStatus =="01">
                        待审核
                    </#if>
                    <#if bussList[0].bussStatus =="02">
                        审核通过
                    </#if>
                    <#if bussList[0].bussStatus =="03">
                        审核不通过
                    </#if>
                    <#if bussList[0].bussStatus =="04">
                        失效
                    </#if>
                </p>
            </div>
        </section>
        <div class="btn-wrap mt-20 ml-80">
            <a class="btn btn-primary" href="${ctx}/${userSettingUrl}">配置</a>
        </div>
</article>

<!------------------------FOOTER---------------------------->
<#include "/views/common/footer.html"/>
<!--------------------------MODAL---------------------------->
<script type="text/javascript">
</script>
<!--修改用户角色权限 MODAL-->
<div id="modal-upowerEdit" class="modal  hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-header">
        <h3 id="myModalLabel">修改用户角色权限</h3><a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();"><i class="fa fa-times"></i></a>
    </div>
    <div class="modal-body">
        <div class="form-group cl">
            <label class=" fl">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label>
            <input class="input-text fl"  type="text" name="editName" id="editName"  onblur="true" value="" onchange="changeEditTip()">
        </div>
        <div class="form-group cl"  id="nameEditTip" style="display: none">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="color: red">姓名不能为空！</span>
        </div>
        <div class="form-group cl">
            <label class=" fl">身份证号码：</label>
            <input class="input-text fl"  type="text" name="editIdCard" id="editIdCard" value="" onchange="changeEditTip()">
        </div>
        <div class="form-group cl"  id="idCardEditTip" style="display: none">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="color: red">>身份证号码不能为空！</span>
        </div>
        <div class="form-group cl"  id="idCardEditTip2" style="display: none">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="color: red">请输入合法的身份证号码！</span>
        </div>
        <div class="form-group cl">
            <label class=" fl">联系电话：</label>
            <input class="input-text fl"  type="text" name="editPhone" id="editPhone" value=""onchange="changeEditTip()">
        </div>
        <div class="form-group cl"  id="phoneEditTip" style="display: none">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="color: red">联系电话不能为空！</span>
        </div>
        <div class="form-group cl"  id="phoneEditTip2" style="display: none">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="color: red">请输入正确的联系电话！</span>
        </div>
        <div class="form-group cl">
            <label class=" fl">EMAIL：</label>
            <input class="input-text fl"  type="text" name="editEmail" id="editEmail" value="" onchange="changeEditTip()">
        </div>
        <div class="form-group cl"  id="emailEditTip" style="display: none">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="color: red">EMAIL不能为空！</span>
        </div>
        <div class="form-group cl"  id="emailEditTip2" style="display: none">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="color: red">请输入正确的EMAIL！</span>
        </div>


        <div class="form-group cl">
            <label class=" fl">角色权限：</label>
            <div id="role-select" class="btn-wrap ">
                <a id="role1" class="btn btn-default-outline" onclick="changeVal(1)" >数据加工角色<b></b></a>
                <a id="role2" class="btn btn-default-outline" onclick="changeVal(2)" >数据建模角色<b></b></a>
                <a id="role3" class="btn btn-default-outline" onclick="changeVal(3)" >数据审核角色<b></b></a>
                <input type="checkbox" name="editRoleId" id="checkRole1" value="1" style="display:none;" >
                <input type="checkbox" name="editRoleId" id="checkRole2" value="2" style="display: none">
                <input type="checkbox" name="editRoleId" id="checkRole3" value="3" style="display: none">
            </div>

            <br>
        </div>
    </div>
    <div class="modal-footer text-c">
        <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary" onclick="editRoleMesage()">确定</button>
    </div>
</div>
<!--删除用户角色权限 MODAL-->
<div id="modal-upowerDelete" class="modal w300 hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-header">
        <h3 id="myModalLabel">删除</h3><a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();"><i class="fa fa-times"></i></a>
    </div>
    <div class="modal-body">

        <p>确定删除此用户角色权限</p>
    </div>
    <div class="modal-footer text-c">
        <button class="btn btn-close" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn-primary" onclick="deleteRole()">确定</button>
    </div>
</div>

</body>
</html>