<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>产品详情页-中国联通研究院大数据应用模型孵化平台</title>
    <meta name="keywords" content="关键词,5个左右,单个8汉字以内"> 
    <meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！"> 
    <link rel="Bookmark" href="img/favorite.png" > 
    <link rel="Shortcut Icon" href="img/favorite.png" />
    <#include "/views/common/head.html"/>
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="${ctx}/js/kkpager/kkpager_blue.css">
    <script type="text/javascript" src="${ctx}/js/kkpager/kkpager.min.js"></script> 
    <!--[if IE 6]> 
      <script type="text/javascript" src="Lib/DD_belatedPNG_0.0.8a-min.js" ></script>
      <script>DD_belatedPNG.fix('.pngfix,.icon');</script> 
    <![endif]--> 

  </head>
  
  <body>
<!------------------------HEADER----------------------------> 
  <#include "/views/common/header.html"/>
  
<!------------------------SIDEBAR-------------------------->
  <#include "/views/common/aside.html"/>
<!-------------------------CONT---------------------------->
<script type="text/javascript">
$(function(){
    $("#menu3").parent(".info").show();
    $("#menu3").addClass("active").siblings().removeClass("active");
	if ('${prdInfo.prdStatus?if_exists}'==2) {
		$("#pass").show();
	}
	if ('${prdInfo.prdStatus?if_exists}'==3) {
		$("#NOpass").show();
	}
	var prdUnit = "${prdInfo.prdUnit?if_exists}"==1?"按数据结果条数计算":"${prdInfo.prdUnit?if_exists}"==2?"按数据结果容量计算":"";
	var prdPrice = "${prdInfo.prdUnit?if_exists}"==1?"${prdInfo.prdPrice?if_exists}"+" 元/条":"${prdInfo.prdUnit?if_exists}"==2?"${prdInfo.prdPrice?if_exists}"+" 元/MB":"";
	$("#prdUnit").text(prdUnit);
	$("#prdPrice").text(prdPrice);
});
  	function down(fileUrl){
  		if (fileUrl=='null') {
  	  		return false;
		}
  		$("#fileCode").val(fileUrl);
  		$("#downFile").submit();
  	}
</script>
	<form style="display:none;" id="downFile" name="downFile" action="${ctx}/author/product/downFile.do" method="post">
		<input id="fileCode" name="fileCode" value="" />
	</form>
     <article class="article-box">
        <div class="Detail-cont">
         <section class="panel panel-primary">
             <div class="panel-header"><h4>产品查看</h4></div>
              <div class="panel-seheader">
                     <h5>产品资料</h5>
              </div>
             <div class="panel-body">
                
                 <p>产品名称：${prdInfo.prdName?if_exists}</p>
                 <p>产品描述：${prdInfo.prdDes?if_exists}</p>
                <!--  <p>数据资源需求： <a class="c-primary" onClick="down('${prdInfo.prdDatafile?if_exists}');">${prdInfo.prdDataName?default("没有需求文件")}</a></p>  -->
                 
                 <p>其他需求：${prdInfo.prdOthers?if_exists}</p> 
                 <p>申请商户：${prdInfo.creater?if_exists}</p> 
                 <p>申请时间：${createTime?if_exists}</p> 
                 <!--                 数据资源需求 START-->
                  <div class="clearfix mt-10 mb-10"> <span class="fl">数据资源需求：</span>
                     <div class="fl dataNeedy w350">
                          <div class="data-box">
                              <#if proDataList??>
		                          	<#list proDataList as pd>
		                          		<div class="data">
		                                  <span class="name" id="dataName" name="dataName">${pd.columnName?if_exists}</span>
		                                  <span class="type" id="dataType" name="dataType">${pd.columnType?if_exists}</span>
		                                  <span class="des" id="dataDes" name="dataDes">${pd.columnDesc?if_exists}</span>
		                              	</div>
		                          	</#list>
                          	  </#if>
                          </div>
                     </div>
                          
                      <script>
                         //展示data信息
                            $(document).on("click",".data",function(){
                             
                            var info = '字段名：'+$(this).children(".name").text()+'<br/>字段类型：'+$(this).children(".type").text() +'<br/>字段描述：'+$(this).children(".des").text() ;

							 $.jBox.info(info, "字段信息",{ buttons: { '关闭': true} });
                                
                            });
                      </script>
                 
                 </div>  
<!--                 数据资源需求 END-->      
             </div>
         </section>
        <section class="panel panel-secondary">
            <div class="panel-header"><h4>产品审核</h4></div>
            <div class="panel-body ">
                <p >审核结果：
                <span id="pass" style="display:none;" class="c-green f-16"><i class="fa fa-check-square-o "></i> 审核通过</span>
                <span id="NOpass" style="display:none;" class="c-red f-16"><i class="fa fa-times "></i> 审核不通过</span>
                </p> 
                <p>审核意见：<span>${prdInfo.checkOpin?if_exists}</span></p> 
                <p>计量单位：<span id="prdUnit"></span></p> 
                <p>计量单价(元)：<span id="prdPrice"></span></p>
                <#if prdInfo.prdType?? && prdInfo.prdStatus??>
	                <#if prdInfo.prdType =='3' && prdInfo.prdStatus =='2' >
	                	<p>数据库IP：<span>${prdInfo.dataBaseIp?if_exists}</span></p>
	                	<p>数据库端口：<span>${prdInfo.dataBasePort?if_exists}</span></p>
	                	<p>数据库用户名：<span>${prdInfo.dataBaseUserName?if_exists}</span></p>
	                	<p>数据库密码：<span>${prdInfo.dataBaseUserPwd?if_exists}</span></p>
	                </#if> 
                </#if>
            </div>
        </section>
         <div class="btn-wrap mt-20 ml-60">
              <button class="btn btn-close" onClick="javascript:history.go(-1);return false;">关闭</button>
         </div>
          </div>    
    </article>
<!------------------------FOOTER----------------------------> 
<#include "/views/common/footer.html"/>
  </body>
</html>
