<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>500</title>
<#include "/views/common/meta.html"/>
<#include "/views/common/head.html"/>
<!--  
<script type="text/javascript" src="${ctx}/theme/js/module/error.js"></script>
-->
</head>

<body>


 
 <!-------------无商品提示----------------->
 <div class="wrap">
    <div class="cbox e_hint clearfix">
            <div class="hic"></div>
            <div class="e_hcon bluelink">
                应用错误
            </div>
    </div>
 
 
 </div>
 

 
</body>
</html>