<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>错误页-中国联通研究院大数据应用模型孵化后台管理系统</title>

    <#include "/views/common/head.html"/>

</head>
<body class="bg-w">
<!------------------------HEADER---------------------------->
  <header class="navbar-wrapper">
      <div class="navbar navbar-blue">
          <div class="container-fluid cl">
              <a class="logo navbar-logo" href="#"><img src="${ctx}/img/logo.png" alt="logo"></a>
              <a class="logo navbar-slogan" href="#">中国联通大数据应用模型孵化平台</a>
          </div>
      </div>
  </header>
  <!-------------------------CONT---------------------------->   
                     <!--错误提示-->
                   
                <div class="error-panel text-c ">
                   <div class=" mt-100 mb-50"><img src="${ctx}/img/error_icon.png" width="108" height="108" 商户配置图标 alt=""></div>
                   <h4 class="mb-50">哎呀...您访问的页面可能有点问题，请稍后再尝试一下吧</h4> 
                </div>          
                                            

</body>
</html>